<section class="footer-social">
    <a href="https://github.com/winecat" target="_blank" title="GitHub"><i class="fa fa-lg fa-fw fa-github"></i> <span class="hidden">GitHub</s
pan></a>&nbsp;
    <a href="https://www.facebook.com/xianrongMai" target="_blank" title="Facebook"><i class="fa fa-lg fa-fw fa-facebook"></i> <span class="hidden">Facebook</span></a>&nbsp;
    <a href="http://weibo.com/wine9cat" target="_blank" title="Weibo"><i class="fa fa-lg fa-fw fa-weibo"></i> <span class="hidden">Weibo</s
pan></a>&nbsp;
    <a href="{{@blog.url}}/rss/" target="_blank" title="RSS"><i class="fa fa-lg fa-fw fa-rss"></i> <span class="hidden">RSS</span></a>
</section>
