<nav class="menu" role="nav">
    <ul>
        {{#foreach navigation}}
                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{{{tag}} absolute="true"}}">Tag</a></li>
                <li role="presentation"><a href="{{{{author}} absolute="true"}}">aboutMe</a></li>
        {{/foreach}}
    </ul>
</nav>
